---
layout: default
---

- page.posts.each do |post|
  .post
    %h1.title
      %a{:href => post.url}
        = post.title
    .byline
      .date
        %span.label
          Posted:
        %span.value           
          = post.date.strftime('%A %B %e, %Y')
      .tags
        %span.label
          Tags:&nbsp; 
        - post.tags.each do |tag|
          %a{:href=>tag.primary_page.url}><
            = tag
          = ',&nbsp;' unless tag == post.tags.last  
    .body
      ~ post.content
    .comments-link
      = post.disqus_comments_link

= page.posts.links
= page.disqus_comments_count
