---
layout: default
---

.post
  %h1.title
    = page.title
  .byline
    .date
      %span.label
        Posted:
      %span.value           
        = page.date.strftime('%A %B %e, %Y')
    .tags
      %span.label
        Tags:&nbsp; 
      - page.tags.each do |tag|
        %a{:href=>tag.primary_page.url}><
          = tag
        = ',&nbsp;' unless tag == page.tags.last  
  .body
    ~ content
  .comments
    = page.disqus_comments

  
